*.class
*.gitignore
*.settings
# Package Files #
*.jar
*.war
*.ear
/target/
/log/
/.settings/
*.project
*.classpath
*apiclient_cert.p12

!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

log

.DS_Store
